/*I'm not 100% sure where the :root selector should go as yet, 
so I'm just placing it at the top*/
:root {
    /*Laying out the colors I'll use to style the app. I'll be using variables for these
    for the sake of convenience.*/
    --dark: #31343d;
    --light-blue: #92cccd;
    --grey-blue: #475b79; 
    --off-white: #ededf6;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-color: var(--dark);
}


/* */
header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;

    padding: 1.25rem;
    padding-left: 0px;
}

header h1 {
    flex: 0 0 300px;
    padding: 10px 20px;
    background-color: var(--light-blue);
    color: var(--dark);
    font-size: 2.5rem;
    text-align: right;
}

header nav {
    display: flex;
    flex: 0 0 50%;
    margin-top: 2rem;
    justify-content: space-evenly;
}

/*I've set up the nave bar to appear in-line with the header*/
header nav a {
    display: inline;

    font-size: 1.25rem;
    color: var(--light-blue);
    margin-right: .5rem;

    text-decoration-thickness: 0.2rem;
}

/*Now for the code handling the main content blocks of the page*/
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
    margin: 0;
    background-color: var(--off-white);
    color: var(--grey-blue);
}

/*I'm giving the main content blocks 80% of the horizontal*/
main aside {
    width: 20%;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

main aside h1 {
    width: 90%;
    text-align: right;
    font-size: 2.5rem;
}

main section {
    flex-grow: 2;
    flex-shrink: 2;
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-left: 0.2rem solid var(--grey-blue);
    margin-left: 1rem;
    margin-bottom: 1rem;
}

/*Classes for handling hero image and subtitle*/
.hero-image {
    position: relative;
    height: 200px;
    width: 100%;
    margin: 0;
    background-image: url("../images/patrick-tomasso-QMDap1TAu0g-unsplash.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hero-text {
    position: absolute;
    bottom: 10%;
    right: 10%;
}

.hero-text h1  {
    width: 300px;
    padding: 10px;
    background-color: var(--light-blue);

    font-size: 1.5rem;
    color: var(--dark);
}

/*IDs for handling specific sections and the main image of the */

#about-me p {
    margin-left: 1rem;
    margin-bottom: 1rem;
}

#main-image {
    width: 90%;
}

#main-image img {
    height: 200px;
    background-image: url("https://i.imgur.com/lzwSM0W.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}*/

#ma

@media screen and (max-width: 768px){

    /*For the mobile layout, I want the header to be above the navbar and for both
    to be centered. Changing header's justify-content property to center and 
    header nav's flex-basis to 80% accomplishes this.*/
    header {
        justify-content: center;
    }

    header h1 {
        text-align: center;
    }

    header nav {
        flex-basis: 80%;
    }

    /*I'm adjusting the main content block to put the section titles (*/
    main aside {
        width: 90%;
    }

    main aside h1 {
        text-align: center;
    }

    main section {
        width: 90%;
        border-top: 0.2rem solid var(--grey-blue);
        border-left: none;
    }

    main section p {
        margin: 1rem;
        margin-bottom: 0;
    }

        /*Slightly decreasing the height of the hero image so it doesn't take up too much
    screen real estate on mobile devices*/
    .hero-image {
        height: 150px;
    }

}



